<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterMainEvent</servlet-name>
		<display-name>RegisterMainEvent</display-name>
		<description></description>
		<servlet-class>servlet.RegisterMainEvent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterSubEvent</servlet-name>
		<display-name>RegisterSubEvent</display-name>
		<description></description>
		<servlet-class>servlet.RegisterSubEvent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterParticipant</servlet-name>
		<display-name>RegisterParticipant</display-name>
		<description></description>
		<servlet-class>servlet.RegisterParticipant</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckStudent</servlet-name>
		<display-name>CheckStudent</display-name>
		<description></description>
		<servlet-class>servlet.CheckStudent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterBulkParticipants</servlet-name>
		<display-name>RegisterBulkParticipants</display-name>
		<description></description>
		<servlet-class>servlet.RegisterBulkParticipants</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveMainEvent</servlet-name>
		<display-name>RemoveMainEvent</display-name>
		<description></description>
		<servlet-class>servlet.RemoveMainEvent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveSubEvent</servlet-name>
		<display-name>RemoveSubEvent</display-name>
		<description></description>
		<servlet-class>servlet.RemoveSubEvent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveParticipant</servlet-name>
		<display-name>RemoveParticipant</display-name>
		<description></description>
		<servlet-class>servlet.RemoveParticipant</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMainEvent</servlet-name>
		<display-name>UpdateMainEvent</display-name>
		<description></description>
		<servlet-class>servlet.UpdateMainEvent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateSubEvent</servlet-name>
		<display-name>UpdateSubEvent</display-name>
		<description></description>
		<servlet-class>servlet.UpdateSubEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterMainEvent</servlet-name>
		<url-pattern>/RegisterMainEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterSubEvent</servlet-name>
		<url-pattern>/RegisterSubEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterParticipant</servlet-name>
		<url-pattern>/RegisterParticipant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckStudent</servlet-name>
		<url-pattern>/CheckStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterBulkParticipants</servlet-name>
		<url-pattern>/RegisterBulkParticipants</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveMainEvent</servlet-name>
		<url-pattern>/RemoveMainEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveSubEvent</servlet-name>
		<url-pattern>/RemoveSubEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveParticipant</servlet-name>
		<url-pattern>/RemoveParticipant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMainEvent</servlet-name>
		<url-pattern>/UpdateMainEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSubEvent</servlet-name>
		<url-pattern>/UpdateSubEvent</url-pattern>
	</servlet-mapping>
</web-app>
